
android/.gradle/4.10.2/fileChanges/last-build.bin
android/.gradle/4.10.2/fileContent/fileContent.lock
android/.gradle/4.10.2/fileHashes/fileHashes.bin
android/.gradle/4.10.2/fileHashes/fileHashes.lock
android/.gradle/4.10.2/fileHashes/resourceHashesCache.bin
android/.gradle/4.10.2/gc.properties
android/.gradle/4.10.2/javaCompile/classAnalysis.bin
android/.gradle/4.10.2/javaCompile/jarAnalysis.bin
android/.gradle/4.10.2/javaCompile/javaCompile.lock
android/.gradle/4.10.2/javaCompile/taskHistory.bin
android/.gradle/4.10.2/taskHistory/taskHistory.bin
android/.gradle/4.10.2/taskHistory/taskHistory.lock
android/.gradle/4.4/fileChanges/last-build.bin
android/.gradle/4.4/fileContent/annotation-processors.bin
android/.gradle/4.4/fileContent/fileContent.lock
android/.gradle/4.4/fileHashes/fileHashes.bin
android/.gradle/4.4/fileHashes/fileHashes.lock
android/.gradle/4.4/fileHashes/resourceHashesCache.bin
android/.gradle/4.4/javaCompile/classAnalysis.bin
android/.gradle/4.4/javaCompile/jarAnalysis.bin
android/.gradle/4.4/javaCompile/javaCompile.lock
android/.gradle/4.4/javaCompile/taskHistory.bin
android/.gradle/4.4/javaCompile/taskJars.bin
android/.gradle/4.4/taskHistory/taskHistory.bin
android/.gradle/4.4/taskHistory/taskHistory.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/vcs-1/gc.properties
android/.idea/caches/build_file_checksums.ser
android/.idea/caches/gradle_models.ser
android/.idea/codeStyles/Project.xml
android/.idea/encodings.xml
android/.idea/gradle.xml
android/.idea/libraries/Gradle____local_aars____Users_Fanny_Github_rntest_wxwork_android_libs_libammsdk_jar_unspecified_jar.xml
android/.idea/libraries/Gradle____local_aars____Users_Fanny_Github_rntest_wxwork_android_libs_libwwsdk_jar_unspecified_jar.xml
android/.idea/libraries/Gradle____local_aars____Users_fanny_wxwork_android_libs_libammsdk_jar_unspecified_jar.xml
android/.idea/libraries/Gradle____local_aars____Users_fanny_wxwork_android_libs_libwwsdk_jar_unspecified_jar.xml
android/.idea/libraries/Gradle__android_android_28.xml
android/.idea/libraries/Gradle__android_arch_core_common_1_1_1_jar.xml
android/.idea/libraries/Gradle__android_arch_core_runtime_1_1_1_aar.xml
android/.idea/libraries/Gradle__android_arch_lifecycle_common_1_1_1_jar.xml
android/.idea/libraries/Gradle__android_arch_lifecycle_livedata_1_1_1_aar.xml
android/.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_1_aar.xml
android/.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_1_aar.xml
android/.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_1_aar.xml
android/.idea/libraries/Gradle__com_android_support_animated_vector_drawable_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_appcompat_v7_23_0_1_aar.xml
android/.idea/libraries/Gradle__com_android_support_appcompat_v7_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_asynclayoutinflater_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_collections_28_0_0_jar.xml
android/.idea/libraries/Gradle__com_android_support_coordinatorlayout_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_cursoradapter_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_customview_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_documentfile_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_drawerlayout_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_interpolator_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_loader_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_localbroadcastmanager_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_print_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_recyclerview_v7_23_0_1_aar.xml
android/.idea/libraries/Gradle__com_android_support_slidingpanelayout_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_annotations_23_0_1_jar.xml
android/.idea/libraries/Gradle__com_android_support_support_annotations_28_0_0_jar.xml
android/.idea/libraries/Gradle__com_android_support_support_compat_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_core_ui_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_core_utils_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_fragment_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_v4_23_0_1_aar.xml
android/.idea/libraries/Gradle__com_android_support_support_vector_drawable_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_swiperefreshlayout_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_versionedparcelable_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_android_support_viewpager_28_0_0_aar.xml
android/.idea/libraries/Gradle__com_facebook_fresco_drawee_0_8_1_aar.xml
android/.idea/libraries/Gradle__com_facebook_fresco_fbcore_0_8_1_aar.xml
android/.idea/libraries/Gradle__com_facebook_fresco_fresco_0_8_1_aar.xml
android/.idea/libraries/Gradle__com_facebook_fresco_imagepipeline_0_8_1_aar.xml
android/.idea/libraries/Gradle__com_facebook_fresco_imagepipeline_okhttp_0_8_1_aar.xml
android/.idea/libraries/Gradle__com_facebook_react_react_native_0_20_1_aar.xml
android/.idea/libraries/Gradle__com_facebook_stetho_stetho_1_2_0_jar.xml
android/.idea/libraries/Gradle__com_facebook_stetho_stetho_okhttp_1_2_0_jar.xml
android/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_2_3_jar.xml
android/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_0_jar.xml
android/.idea/libraries/Gradle__com_nineoldandroids_library_2_4_0_jar.xml
android/.idea/libraries/Gradle__com_parse_bolts_bolts_android_1_1_4_jar.xml
android/.idea/libraries/Gradle__com_squareup_okhttp_okhttp_2_5_0_jar.xml
android/.idea/libraries/Gradle__com_squareup_okhttp_okhttp_ws_2_5_0_jar.xml
android/.idea/libraries/Gradle__com_squareup_okio_okio_1_6_0_jar.xml
android/.idea/libraries/Gradle__commons_cli_commons_cli_1_2_jar.xml
android/.idea/libraries/Gradle__org_webkit_android_jsc_r174650_aar.xml
android/.idea/misc.xml
android/.idea/modules.xml
android/build/intermediates/annotations_typedef_file/debug/extractDebugAnnotations/typedefs.txt
android/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
android/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output.json
android/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
android/.idea/workspace.xml
android/.idea/vcs.xml
android/.idea/runConfigurations.xml
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/4.4/taskHistory/taskHistory.lock
android/.gradle/4.4/taskHistory/taskHistory.bin
android/.gradle/4.4/javaCompile/taskJars.bin
android/.gradle/4.4/javaCompile/taskHistory.bin
android/.gradle/4.4/javaCompile/javaCompile.lock
android/.gradle/4.4/javaCompile/jarAnalysis.bin
android/.gradle/4.4/javaCompile/classAnalysis.bin
android/.gradle/4.4/fileHashes/resourceHashesCache.bin
android/.gradle/4.4/fileHashes/fileHashes.lock
android/.gradle/4.4/fileHashes/fileHashes.bin
android/.gradle/4.4/fileContent/fileContent.lock
android/.gradle/4.4/fileContent/annotation-processors.bin
android/.gradle/4.4/fileChanges/last-build.bin
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/4.4/taskHistory/taskHistory.lock
android/.gradle/4.4/taskHistory/taskHistory.bin
android/.gradle/4.4/javaCompile/taskJars.bin
android/.gradle/4.4/javaCompile/taskHistory.bin
android/.gradle/4.4/javaCompile/javaCompile.lock
android/.gradle/4.4/javaCompile/jarAnalysis.bin
android/.gradle/4.4/javaCompile/classAnalysis.bin
android/.gradle/4.4/fileHashes/resourceHashesCache.bin
android/.gradle/4.4/fileHashes/fileHashes.lock
android/.gradle/4.4/fileHashes/fileHashes.bin
android/.gradle/4.4/fileContent/fileContent.lock
android/.gradle/4.4/fileContent/annotation-processors.bin
android/.gradle/4.4/fileChanges/last-build.bin
android/.gradle/4.4/javaCompile/classAnalysis.bin
android/.gradle/4.4/javaCompile/jarAnalysis.bin
android/.gradle/4.4/javaCompile/javaCompile.lock
android/.gradle/4.4/javaCompile/taskHistory.bin
android/.gradle/4.4/javaCompile/taskJars.bin
android/.gradle/4.4/taskHistory/taskHistory.bin
